# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R programming
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|
|Jupyter Notebook|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
# minutes = 200
# hours = minutes / 60
hours = 200 / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages used in Data Science
- List commonly used libraries used by Data Scientists
- Convert 200 minutes to hours

## Author ##

In [ ]:
Aditya Tathe